<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>

		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

		<!--
    将事件写入文件名中包含日期的文件。
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
		<target xsi:type="File" name="System" fileName="${basedir}/logs/${shortdate}System.log"
		        layout="${longdate} ${uppercase:${level}} ${message}" />
		<!--【1】上面 意思是创建类型为System的文件log，basedir当前活动路径下logs.... 要创建其它日志可继续添加-->
	</targets>

	<rules>
		<!-- 在这里添加日志记录规则 -->

		<!--
    用最小级别的Debug(因此是Debug、Info、Warn、Error和Fatal，而不是Trace)写入所有事件到 "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
		<logger name="System" minlevel="Debug" writeTo="System" />
		<!--【2】这里是添加日志类型，可自定义，【1】里面是定义输出路径，【2】是定义日志类型-->
	</rules>
</nlog>